body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #ffffff;
}

.content-area {
  width: 90%;
  margin: 0px 40px 40px 40px;
  background: #ffffff;
  padding: 20px;
  position: relative;
}

.content {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.paper {
  max-width: 530px;
  height: 730px;
  width: 100%;
  box-sizing: border-box;
  margin: 20px;
  /* background-color: #45a8fa; */
  border: 5px dashed #000000; 
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
}

.paper-imitation {
  max-width: 535px;
  height: 700px;
  width: 100%;
  background-color: #e5e5e5;
  box-sizing: border-box;
  margin: 20px;
  padding: 20px;
  border: 2px dashed #666;
}

.biggest-box {
  /* border: 1px solid black; */        
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
}

.big-box {      
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
}

.box {
  /* border: 1px solid black; */ 
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
}

.copy-box {
  background-color: #45a8fa;
  opacity: 70%;
}

.wrong-box {
  background-color: #ff0000;
  opacity: 70%;
}

.correct-box {
  background-color: #079707;
  opacity: 70%;
}

/* Instructions */
.instruction {
  text-align: center;
  font-size: 18px;
  font-weight: bold;
}

.right-instruction {
  margin-top: 150px;
  width: 250px;
  text-align: left;
  font-size: 25px;
  font-weight: bold;
}

.change-button {
    background: #ffffff;
    color: #000000;
    font-size: 5px;
    font-weight: bold;
    border: none;
}
